<ion-header>
  <ion-toolbar>
    <ion-title>
      Help
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<h2>Getting Started</h2>
	<p>In order to use MyVideoGames for your own collection you'll need to generate a valid XML file and make it available online. You can find instructions on how to do this on <a href="https://github.com/JamesSkemp/MyVideoGames/blob/master/README.md">the project page at github.com/JamesSkemp/MyVideoGames</a>.</p>
	<p>Once the XML file has been created and is available online, you can update the Settings tab with the path to your file and then press Download File.</p>
	<p>A sample file is included in the project, and all code is available on GitHub, at the link above.</p>
</ion-content>
