<div (click)="toggleDisplay()" [ngClass]="game.own === true ? '' : 'sold'">
  <h3>{{ game.title }}</h3>
  <span>{{ game.system.console }} {{ game.system.version }}</span>
  <div *ngIf="displayDetails">
    <span>ID: {{ game.meta.id }}</span>
    <span>Own: {{ game.own }}</span>
    <span>Notes: {{ game.notes }}</span>
    <span *ngIf="game.meta.addOn">Add-on</span>
    <span *ngIf="game.meta.electronic">Electronic</span>
    <span *ngIf="game.meta.beat">Beat</span>
    <span *ngIf="game.meta.used">Purchased used</span>
    <div>
      <h4>Purchase</h4>
      <span>Date: {{ game.purchase.date }}</span>
      <span>Price: ${{ game.purchase.price }}</span>
      <span>Place: {{ game.purchase.place }}</span>
    </div>
    <div *ngIf="game.sell.date || game.sell.price">
      <h4>Sold</h4>
      <span>Date: {{ game.sell.date }}</span>
      <span *ngIf="game.sell.price">Price: ${{ game.sell.price }}</span>
    </div>
  </div>
</div>
