
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-video-games-primary: mat.define-palette(mat.$indigo-palette);
$my-video-games-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-video-games-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-video-games-theme: mat.define-light-theme((
  color: (
    primary: $my-video-games-primary,
    accent: $my-video-games-accent,
    warn: $my-video-games-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($my-video-games-theme);

/* You can add global styles to this file, and also import other style files */
$bgColor1: #789;
$textColor1: #fff;

body {
  display: grid;
  font-family: sans-serif;
  grid: auto-flow min-content / 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  margin: 0;
}

header {
  background-color: $bgColor1;
  color: $textColor1;
  grid-area: header;
  padding: 1em;

  h1 {
    margin: 0;
  }
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
  padding: 1em;
}
footer {
  background-color: $bgColor1;
  color: $textColor1;
  grid-area: footer;
  padding: 1em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
