.sold {
  text-decoration: line-through;
}

.gameDetails {
  border: 1px solid #ccc;
  margin: .5em;
  padding: .5em;

  span {
    display: block;
  }
}

.mat-expansion-panel-header {
  height: auto;
  padding: 1em;
}
mat-panel-description mat-icon {
  margin-left: .5em;
}
